.version.downloads /* version checker */
{
	color: #000018;
	background-color: #347694;
}

.html
{
	background-color: #F5F1EE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 594px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u145
{
	z-index: 9;
	min-height: 96px;
	padding-bottom: 14px;
}

#u249-6
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 28px;
	left: 121px;
}

#menuu252
{
	z-index: 16;
	width: 458px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 580px;
}

#u260
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
}

#u261
{
	width: 151px;
	padding-bottom: 17px;
}

#u261:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u261:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u262-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u261:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u261:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u253
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 153px;
}

#u256
{
	width: 151px;
	padding-bottom: 17px;
}

#u261.MuseMenuActive,#u256:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u256:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u256.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u258-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u261.MuseMenuActive #u262-4,#u256:hover #u258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u256:active #u258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u256.MuseMenuActive #u258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u268
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 306px;
}

#u269
{
	width: 152px;
	padding-bottom: 17px;
}

#u269:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u269:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u269.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u271-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u269:hover #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u269:active #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u269.MuseMenuActive #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u145-bw
{
	z-index: 9;
	min-height: 96px;
}

#u610
{
	z-index: 35;
	width: 862px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 51px;
	margin-top: 43px;
	position: relative;
}

#buttonu589
{
	z-index: 36;
	width: 862px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
}

#buttonu589:hover
{
	background-color: #545454;
	width: 862px;
	min-height: 0px;
	margin: 0px;
}

#buttonu589.ButtonSelected
{
	background-color: #FF3700;
	width: 862px;
	min-height: 0px;
	margin: 0px;
}

#u590-4
{
	z-index: 37;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu589:hover #u590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu589:hover #u590-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u591
{
	z-index: 41;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu589:hover #u591
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu592
{
	z-index: 42;
	width: 862px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-top: 36px;
	position: relative;
}

#buttonu592:hover
{
	background-color: #545454;
	width: 862px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#u593-4
{
	z-index: 43;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu589.ButtonSelected #u590-4,#buttonu592:hover #u593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu592:hover #u593-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u594
{
	z-index: 47;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu592:hover #u594
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu595
{
	z-index: 48;
	width: 862px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-top: 36px;
	position: relative;
}

#buttonu595:hover
{
	background-color: #545454;
	width: 862px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#u596-4
{
	z-index: 49;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu592.ButtonSelected #u593-4,#buttonu595:hover #u596-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu595:hover #u596-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u597
{
	z-index: 53;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu595:hover #u597
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu598
{
	z-index: 54;
	width: 862px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-top: 36px;
	position: relative;
}

#buttonu598:hover
{
	background-color: #545454;
	width: 862px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#u599-4
{
	z-index: 55;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu595.ButtonSelected #u596-4,#buttonu598:hover #u599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu598:hover #u599-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u600
{
	z-index: 59;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu598:hover #u600
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu601
{
	z-index: 60;
	width: 862px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-top: 36px;
	position: relative;
}

#buttonu601:hover
{
	background-color: #545454;
	width: 862px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#buttonu592.ButtonSelected,#buttonu595.ButtonSelected,#buttonu598.ButtonSelected,#buttonu601.ButtonSelected
{
	background-color: #FF3700;
	width: 862px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#u602-4
{
	z-index: 61;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
}

#buttonu598.ButtonSelected #u599-4,#buttonu601:hover #u602-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu601.ButtonSelected #u602-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu601:hover #u602-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu589.ButtonSelected #u590-4 p,#buttonu592.ButtonSelected #u593-4 p,#buttonu595.ButtonSelected #u596-4 p,#buttonu598.ButtonSelected #u599-4 p,#buttonu601.ButtonSelected #u602-4 p
{
	color: #000000;
	visibility: inherit;
}

#u603
{
	z-index: 65;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu601:hover #u603
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu589.ButtonSelected #u591,#buttonu592.ButtonSelected #u594,#buttonu595.ButtonSelected #u597,#buttonu598.ButtonSelected #u600,#buttonu601.ButtonSelected #u603
{
	background-color: #823700;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u124
{
	z-index: 2;
	min-height: 110px;
	padding-bottom: 112px;
}

#u145_align_to_page,#u124_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u142
{
	z-index: 3;
	width: 458px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#u246-4
{
	z-index: 4;
	width: 458px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u247
{
	z-index: 8;
	width: 210px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 828px;
}

#u124-bw
{
	z-index: 2;
	min-height: 110px;
	margin-top: 54px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

