#u124
{
	border-color: #000000;
	background-color: #FF3700;
}

#u124_align_to_page
{
	position: relative;
}

#u142
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

#u246-4
{
	background-color: transparent;
	position: relative;
}

#u247
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

