.version.report /* version checker */
{
	color: #00000D;
	background-color: #284177;
}

.html
{
	background-color: #F5F1EE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 594px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u145
{
	z-index: 9;
	min-height: 96px;
	padding-bottom: 14px;
}

#u249-6
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 28px;
	left: 121px;
}

#menuu252
{
	z-index: 16;
	width: 458px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 580px;
}

#u260
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
}

#u261
{
	width: 151px;
	padding-bottom: 17px;
}

#u261:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u261:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u262-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u261:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u261:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u253
{
	width: 151px;
	min-height: 34px;
	margin-right: -10000px;
	left: 153px;
}

#u256
{
	width: 151px;
	padding-bottom: 17px;
}

#u261.MuseMenuActive,#u256:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u256:active
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u256.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u258-4
{
	width: 151px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u261.MuseMenuActive #u262-4,#u256:hover #u258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u256:active #u258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u256.MuseMenuActive #u258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u268
{
	width: 152px;
	min-height: 34px;
	margin-right: -10000px;
	left: 306px;
}

#u269
{
	width: 152px;
	padding-bottom: 17px;
}

#u269:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u269:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u269.MuseMenuActive
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u271-4
{
	width: 152px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u269:hover #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u269:active #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u269.MuseMenuActive #u271-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u145-bw
{
	z-index: 9;
	min-height: 96px;
}

#pu520-13
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 18px;
}

#u520-13
{
	z-index: 35;
	width: 412px;
	min-height: 733px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u520-5,#u520-7
{
	font-style: italic;
}

#u521-21
{
	z-index: 48;
	width: 412px;
	min-height: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

#u124
{
	z-index: 2;
	min-height: 110px;
	padding-bottom: 112px;
}

#u145_align_to_page,#u124_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u142
{
	z-index: 3;
	width: 458px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 122px;
}

#u246-4
{
	z-index: 4;
	width: 458px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u247
{
	z-index: 8;
	width: 210px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 828px;
}

#u124-bw
{
	z-index: 2;
	min-height: 110px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

