.version.downloads /* version checker */
{
	color: #0000EE;
	background-color: #1ACCF2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 583px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu412
{
	width: 0.01px;
}

#u412
{
	z-index: 8;
	min-height: 60px;
	padding-bottom: 11px;
}

#u496-6
{
	z-index: 9;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u412-bw
{
	z-index: 8;
	min-height: 60px;
}

#menuu497
{
	z-index: 15;
	width: 268px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 104px;
}

#u505
{
	width: 88px;
	min-height: 27px;
	margin-right: -10000px;
}

#u508
{
	width: 88px;
	padding-bottom: 13px;
}

#u508:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u508:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u509-4
{
	width: 88px;
	min-height: 14px;
	margin-right: -10000px;
	top: 6px;
}

#u508:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u508:active #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u498
{
	width: 88px;
	min-height: 27px;
	margin-right: -10000px;
	left: 90px;
}

#u499
{
	width: 88px;
	padding-bottom: 13px;
}

#u508.MuseMenuActive,#u499:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u499:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u500-4
{
	width: 88px;
	min-height: 14px;
	margin-right: -10000px;
	top: 6px;
}

#u508.MuseMenuActive #u509-4,#u499:hover #u500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u499:active #u500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u512
{
	width: 88px;
	min-height: 27px;
	margin-right: -10000px;
	left: 180px;
}

#u515
{
	width: 88px;
	padding-bottom: 13px;
}

#u499.MuseMenuActive,#u515:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u515:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u515.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u516-4
{
	width: 88px;
	min-height: 14px;
	margin-right: -10000px;
	top: 6px;
}

#u499.MuseMenuActive #u500-4,#u515:hover #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u515:active #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u515.MuseMenuActive #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u611
{
	z-index: 34;
	width: 338px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 24px;
	position: relative;
}

#buttonu612
{
	z-index: 35;
	width: 338px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
}

#buttonu612:hover
{
	background-color: #545454;
	width: 338px;
	min-height: 0px;
	margin: 0px;
}

#buttonu612.ButtonSelected
{
	background-color: #FF3700;
	width: 338px;
	min-height: 0px;
	margin: 0px;
}

#u613-4
{
	z-index: 36;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 68px;
}

#buttonu612:hover #u613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu612:hover #u613-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u614
{
	z-index: 40;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu612:hover #u614
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu615
{
	z-index: 41;
	width: 338px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 35px;
	position: relative;
}

#buttonu615:hover
{
	background-color: #545454;
	width: 338px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#u616-4
{
	z-index: 42;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 68px;
}

#buttonu612.ButtonSelected #u613-4,#buttonu615:hover #u616-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu615:hover #u616-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u617
{
	z-index: 46;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu615:hover #u617
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu618
{
	z-index: 47;
	width: 338px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 36px;
	position: relative;
}

#buttonu618:hover
{
	background-color: #545454;
	width: 338px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#buttonu618.ButtonSelected
{
	background-color: #FF3700;
	width: 338px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#u619-4
{
	z-index: 48;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 68px;
}

#buttonu615.ButtonSelected #u616-4,#buttonu618:hover #u619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu618:hover #u619-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u620
{
	z-index: 52;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu618:hover #u620
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu624
{
	z-index: 53;
	width: 338px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 35px;
	position: relative;
}

#buttonu624:hover
{
	background-color: #545454;
	width: 338px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#u625-4
{
	z-index: 54;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 68px;
}

#buttonu618.ButtonSelected #u619-4,#buttonu624:hover #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu624:hover #u625-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u626
{
	z-index: 58;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu624:hover #u626
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu621
{
	z-index: 59;
	width: 338px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 35px;
	position: relative;
}

#buttonu621:hover
{
	background-color: #545454;
	width: 338px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#buttonu615.ButtonSelected,#buttonu624.ButtonSelected,#buttonu621.ButtonSelected
{
	background-color: #FF3700;
	width: 338px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#u622-4
{
	z-index: 60;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 68px;
}

#buttonu624.ButtonSelected #u625-4,#buttonu621:hover #u622-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu621.ButtonSelected #u622-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 17px -10000px 0px 0px;
}

#buttonu621:hover #u622-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu612.ButtonSelected #u613-4 p,#buttonu615.ButtonSelected #u616-4 p,#buttonu618.ButtonSelected #u619-4 p,#buttonu624.ButtonSelected #u625-4 p,#buttonu621.ButtonSelected #u622-4 p
{
	color: #000000;
	visibility: inherit;
}

#u623
{
	z-index: 64;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu621:hover #u623
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu612.ButtonSelected #u614,#buttonu615.ButtonSelected #u617,#buttonu618.ButtonSelected #u620,#buttonu624.ButtonSelected #u626,#buttonu621.ButtonSelected #u623
{
	background-color: #823700;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u411
{
	z-index: 2;
	min-height: 67px;
	padding-bottom: 7px;
}

#u437-4
{
	z-index: 4;
	width: 204px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
}

#u413
{
	z-index: 3;
	width: 140px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 216px;
}

#u411-bw
{
	z-index: 2;
	min-height: 67px;
	margin-top: 24px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

