.version.report /* version checker */
{
	color: #0000FC;
	background-color: #B9AF9E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 583px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu412
{
	width: 0.01px;
}

#u412
{
	z-index: 8;
	min-height: 60px;
	padding-bottom: 11px;
}

#u496-6
{
	z-index: 9;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u412-bw
{
	z-index: 8;
	min-height: 60px;
}

#menuu497
{
	z-index: 15;
	width: 268px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 104px;
}

#u505
{
	width: 88px;
	min-height: 27px;
	margin-right: -10000px;
}

#u508
{
	width: 88px;
	padding-bottom: 13px;
}

#u508:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u508:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u509-4
{
	width: 88px;
	min-height: 14px;
	margin-right: -10000px;
	top: 6px;
}

#u508:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u508:active #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u498
{
	width: 88px;
	min-height: 27px;
	margin-right: -10000px;
	left: 90px;
}

#u499
{
	width: 88px;
	padding-bottom: 13px;
}

#u508.MuseMenuActive,#u499:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u499:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u500-4
{
	width: 88px;
	min-height: 14px;
	margin-right: -10000px;
	top: 6px;
}

#u508.MuseMenuActive #u509-4,#u499:hover #u500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u499:active #u500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u512
{
	width: 88px;
	min-height: 27px;
	margin-right: -10000px;
	left: 180px;
}

#u515
{
	width: 88px;
	padding-bottom: 13px;
}

#u499.MuseMenuActive,#u515:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u515:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u515.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u516-4
{
	width: 88px;
	min-height: 14px;
	margin-right: -10000px;
	top: 6px;
}

#u499.MuseMenuActive #u500-4,#u515:hover #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u515:active #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u515.MuseMenuActive #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u643-31
{
	z-index: 34;
	width: 352px;
	min-height: 416px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 16px;
	position: relative;
}

#u643-5,#u643-7
{
	font-style: italic;
}

#u411
{
	z-index: 2;
	min-height: 67px;
	padding-bottom: 7px;
}

#u437-4
{
	z-index: 4;
	width: 204px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
}

#u413
{
	z-index: 3;
	width: 140px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 216px;
}

#u411-bw
{
	z-index: 2;
	min-height: 67px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

