.version.downloads /* version checker */
{
	color: #000018;
	background-color: #FC0D5C;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#u410
{
	z-index: 8;
	min-height: 116px;
	padding-bottom: 12px;
}

#u488-6
{
	z-index: 28;
	margin-right: -10000px;
	margin-top: 20px;
	left: 11px;
}

#menuu466
{
	z-index: 9;
	width: 446px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 313px;
}

#u474
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u475
{
	width: 147px;
	padding-bottom: 17px;
}

#u475:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u475:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u476-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u475:hover #u476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u475:active #u476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u467
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u470
{
	width: 147px;
	padding-bottom: 17px;
}

#u475.MuseMenuActive,#u470:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u470:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u470.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u472-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u475.MuseMenuActive #u476-4,#u470:hover #u472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u470:active #u472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u470.MuseMenuActive #u472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u481
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u484
{
	width: 148px;
	padding-bottom: 17px;
}

#u484:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u484:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u484.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u486-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u484:hover #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u484:active #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u484.MuseMenuActive #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u410-bw
{
	z-index: 8;
	min-height: 116px;
}

#u627
{
	z-index: 34;
	width: 716px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 26px;
	margin-top: 26px;
	position: relative;
}

#buttonu628
{
	z-index: 35;
	width: 716px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 31px;
	position: relative;
}

#buttonu628:hover
{
	background-color: #545454;
	width: 716px;
	min-height: 0px;
	margin: 0px;
}

#buttonu628.ButtonSelected
{
	background-color: #FF3700;
	width: 716px;
	min-height: 0px;
	margin: 0px;
}

#u629-4
{
	z-index: 36;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 68px;
}

#buttonu628:hover #u629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 37px -10000px 0px 0px;
}

#buttonu628:hover #u629-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u630
{
	z-index: 40;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 51px;
}

#buttonu628:hover #u630
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#buttonu631
{
	z-index: 41;
	width: 716px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 31px;
	margin-top: 65px;
	position: relative;
}

#buttonu631:hover
{
	background-color: #545454;
	width: 716px;
	min-height: 0px;
	margin: 65px 0px 0px;
}

#u632-4
{
	z-index: 42;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 68px;
}

#buttonu628.ButtonSelected #u629-4,#buttonu631:hover #u632-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 37px -10000px 0px 0px;
}

#buttonu631:hover #u632-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u633
{
	z-index: 46;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 51px;
}

#buttonu631:hover #u633
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#buttonu634
{
	z-index: 47;
	width: 716px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 34px;
	margin-top: 66px;
	position: relative;
}

#buttonu634:hover
{
	background-color: #545454;
	width: 716px;
	min-height: 0px;
	margin: 66px 0px 0px;
}

#buttonu634.ButtonSelected
{
	background-color: #FF3700;
	width: 716px;
	min-height: 0px;
	margin: 66px 0px 0px;
}

#u635-4
{
	z-index: 48;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 68px;
}

#buttonu634:hover #u635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 34px -10000px 0px 0px;
}

#buttonu634.ButtonSelected #u635-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 34px -10000px 0px 0px;
}

#buttonu634:hover #u635-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u636
{
	z-index: 52;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 51px;
}

#buttonu634:hover #u636
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 35px -10000px 0px 0px;
}

#buttonu634.ButtonSelected #u636
{
	background-color: #823700;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 35px -10000px 0px 0px;
}

#buttonu640
{
	z-index: 53;
	width: 716px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 31px;
	margin-top: 65px;
	position: relative;
}

#buttonu640:hover
{
	background-color: #545454;
	width: 716px;
	min-height: 0px;
	margin: 65px 0px 0px;
}

#u641-4
{
	z-index: 54;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 68px;
}

#buttonu631.ButtonSelected #u632-4,#buttonu640:hover #u641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 37px -10000px 0px 0px;
}

#buttonu640:hover #u641-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u642
{
	z-index: 58;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 51px;
}

#buttonu640:hover #u642
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#buttonu637
{
	z-index: 59;
	width: 716px;
	border-color: #787878;
	background-color: #FF3700;
	border-radius: 10px;
	padding-bottom: 31px;
	margin-top: 65px;
	position: relative;
}

#buttonu637:hover
{
	background-color: #545454;
	width: 716px;
	min-height: 0px;
	margin: 65px 0px 0px;
}

#buttonu631.ButtonSelected,#buttonu640.ButtonSelected,#buttonu637.ButtonSelected
{
	background-color: #FF3700;
	width: 716px;
	min-height: 0px;
	margin: 65px 0px 0px;
}

#u638-4
{
	z-index: 60;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 68px;
}

#buttonu640.ButtonSelected #u641-4,#buttonu637:hover #u638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 37px -10000px 0px 0px;
}

#buttonu637.ButtonSelected #u638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 37px -10000px 0px 0px;
}

#buttonu637:hover #u638-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu628.ButtonSelected #u629-4 p,#buttonu631.ButtonSelected #u632-4 p,#buttonu634.ButtonSelected #u635-4 p,#buttonu640.ButtonSelected #u641-4 p,#buttonu637.ButtonSelected #u638-4 p
{
	color: #000000;
	visibility: inherit;
}

#u639
{
	z-index: 64;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #823700;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 51px;
}

#buttonu637:hover #u639
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#buttonu628.ButtonSelected #u630,#buttonu631.ButtonSelected #u633,#buttonu640.ButtonSelected #u642,#buttonu637.ButtonSelected #u639
{
	background-color: #823700;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#u409
{
	z-index: 2;
	min-height: 110px;
	padding-bottom: 20px;
}

#u465-4
{
	z-index: 4;
	width: 318px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 26px;
}

#u463
{
	z-index: 3;
	width: 210px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 505px;
}

#u409-bw
{
	z-index: 2;
	min-height: 110px;
	margin-top: 26px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

