.version.report /* version checker */
{
	color: #000005;
	background-color: #F71036;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#u410
{
	z-index: 8;
	min-height: 116px;
	padding-bottom: 12px;
}

#u488-6
{
	z-index: 28;
	margin-right: -10000px;
	margin-top: 20px;
	left: 11px;
}

#menuu466
{
	z-index: 9;
	width: 446px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 313px;
}

#u474
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u475
{
	width: 147px;
	padding-bottom: 17px;
}

#u475:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u475:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u476-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u475:hover #u476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u475:active #u476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u467
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u470
{
	width: 147px;
	padding-bottom: 17px;
}

#u475.MuseMenuActive,#u470:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u470:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u470.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u472-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u475.MuseMenuActive #u476-4,#u470:hover #u472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u470:active #u472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u470.MuseMenuActive #u472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u481
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u484
{
	width: 148px;
	padding-bottom: 17px;
}

#u484:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u484:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u484.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u486-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u484:hover #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u484:active #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u484.MuseMenuActive #u486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u410-bw
{
	z-index: 8;
	min-height: 116px;
}

#pu644-14
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 23px;
}

#u644-14
{
	z-index: 34;
	width: 352px;
	min-height: 416px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u644-5,#u644-7
{
	font-style: italic;
}

#u645-22
{
	z-index: 48;
	width: 352px;
	min-height: 416px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 372px;
}

#u409
{
	z-index: 2;
	min-height: 110px;
	padding-bottom: 20px;
}

#u465-4
{
	z-index: 4;
	width: 318px;
	min-height: 87px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 26px;
}

#u463
{
	z-index: 3;
	width: 210px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 505px;
}

#u409-bw
{
	z-index: 2;
	min-height: 110px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

